[submodule "references/curl"]
	path = references/curl
	url = https://github.com/curl/curl
[submodule "references/boost"]
	path = references/boost
	url = https://github.com/boostorg/boost
[submodule "references/muduo"]
	path = references/muduo
	url = https://github.com/chenshuo/muduo
[submodule "references/jsoncpp"]
	path = references/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp
